@import "tailwindcss";
@theme{
   
    --container-container:1170px;
    --font-poping:"Poppins",sans-serif;
    --font-inter:"Inter", sans-serif;
    --color-secondary:#FAFAFA;
    --spacing-12px:12px;
    --text-14px:14px;
    --text-16px:16px;
    --text-12px:12px;
    --text-20px:20px;
    --text-24px:24px;
    --text-36px:36px;
    --text-32px:32px;
    --spacing-31px:31px;
    --spacing-60px:60px;
    --spacing-48px:48px;
    --spacing-46px:46px;
    --spacing-87px:87px;
    --spacing-118px:118px;
    --spacing-1px:1px;
    --spacing-24px:24px;
    --spacing-390px:390px;
    --spacing-124px:124px;
    --spacing-170px:170px;
    --spacing-80px:80px;
    --color-box:#F5F5F5;
    --spacing-8px:8px;
    --spacing-14px:14%;
    --spacing-12px:12px;
    --spacing-140px:140px;
    --spacing-70px:70px;
    --spacing-184px:184px;
    --spacing-243px:243px;
    --spacing-145px:145px;
    --spacing-161px:161px;
    --spacing-217px:217px;
    --spacing-270px:270px;
    --spacing-12px:12px;
    --spacing-14px:14px;
    --spacing-20px:20px;
    --spacing-16px:16px;
    --spacing-175px:175px;
    --color-copy:#ffffff66;
    --color-card:#F5F5F5;
    --spacing-270px:270px;
    --spacing-250px:250px;
    --radius-4px:4px;
    --spacing-40px:40px;
    --spacing-55px:55px;
    --spacing-34px:34px;
    --color-line:#0000001a;
    --color-view:#DB4444;
}


.one{
    display: grid;
    gap:30px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: repeat(2,284px);
}

.tow:nth-child(1){
    grid-column-start:1;
    grid-column-end:3;
}
.tow:nth-child(2){
    grid-column-start:3;
    grid-column-end:5;
}
.tow:nth-child(1){
    grid-row-start:1;
    grid-row-end:3;
}
 



